## Task 2

In [1]:
import numpy as np
import pandas as pd

In [2]:
foods=pd.read_excel('foods_task2.xlsx')

In [6]:
foods

,Food Name,Price,City,Color,Cuisine,Taste
0,Misal,80,Pune,red,Maharashtrian,spicy
1,Dhokla,30,Vadodra,yellow,gujrati,Sweet and spicy
2,Masala Dosa,70,Chennai,brown,South Indian,spicy
3,Rosogulla,120,Calcutta,white,Bengali,Sweet
4,Chole Bhature,100,Delhi,yellow,North Indian,Spicy
5,Bharit Bhakri,90,Jalgaon,Grey and red,Maharashtrian,Spicy
6,Namkeen,150,Indore,Orange,M.P,Spicy
7,Vada Pav,20,Mumbai,yellow,Maharashtrain,Spicy
8,lassi,50,Amritsar,white,Punjabi,Sweet and sour
9,Momos,150,Shillong,White,North-east,Spicy
10,Noodles,130,Jaipur,Yellow,Chinese,Spicy
11,Ghevar,200,Udaipur,brown,Rajasthani,Sweet
12,Bakarvadi,70,Pune,brown,maharashtrain,Crunchy
13,Aloo Paratha,40,Ambala,Brownish,Punjabi,Spicy
14,Mysore Pak,300,Mysore,yellow,South Indian,Sweet

In [35]:
Taste= foods['Taste']

In [37]:
Taste.str.capitalize()

0               Spicy
1     Sweet and spicy
2               Spicy
3               Sweet
4               Spicy
5               Spicy
6               Spicy
7               Spicy
8      Sweet and sour
9               Spicy
10              Spicy
11              Sweet
12           Crunchy
13              Spicy
14              Sweet
Name: Taste, dtype: object

In [38]:
foods.columns

Index(['Food Name', 'Price', 'City', 'Color', 'Cuisine', 'Taste'], dtype='object')

In [39]:
foods.values

array([['Misal', 80, 'Pune', 'red', 'Maharashtrian', 'spicy'],
       ['Dhokla', 30, 'Vadodra', 'yellow', 'gujrati', 'sweet and spicy'],
       ['Masala Dosa', 70, 'Chennai', 'brown', 'South Indian', 'spicy'],
       ['Rosogulla', 120, 'Calcutta', 'white', 'Bengali', 'sweet'],
       ['Chole Bhature', 100, 'Delhi', 'yellow', 'North Indian', 'Spicy'],
       ['Bharit Bhakri', 90, 'Jalgaon', 'Grey and red', 'Maharashtrian',
        'Spicy'],
       ['Namkeen', 150, 'Indore', 'Orange', 'M.P', 'Spicy'],
       ['Vada Pav', 20, 'Mumbai', 'yellow', 'Maharashtrain', 'Spicy'],
       ['lassi', 50, 'Amritsar', 'white', 'Punjabi', 'Sweet and sour'],
       ['Momos', 150, 'Shillong', 'White', 'North-east', 'Spicy'],
       ['Noodles', 130, 'Jaipur', 'Yellow', 'Chinese', 'Spicy'],
       ['Ghevar', 200, 'Udaipur', 'brown', 'Rajasthani', 'Sweet'],
       ['Bakarvadi ', 70, 'Pune', 'brown', 'maharashtrain', 'Crunchy '],
       ['Aloo Paratha    ', 40, 'Ambala', 'Brownish', 'Punjabi', 'Spicy'],
       ['Mysore Pak', 300, 'Mysore', 'yellow', 'South Indian', 'Sweet']],
      dtype=object)

In [40]:
c= foods[['Price','Cuisine']]
c

    Price        Cuisine
0      80  Maharashtrian
1      30        gujrati
2      70   South Indian
3     120        Bengali
4     100   North Indian
5      90  Maharashtrian
6     150            M.P
7      20  Maharashtrain
8      50        Punjabi
9     150     North-east
10    130        Chinese
11    200     Rajasthani
12     70  maharashtrain
13     40        Punjabi
14    300   South Indian

In [41]:
Cuisine= c['Cuisine'].unique()

In [42]:
Cuisine

array(['Maharashtrian', 'gujrati', 'South Indian', 'Bengali',
       'North Indian', 'M.P', 'Maharashtrain', 'Punjabi', 'North-east',
       'Chinese', 'Rajasthani', 'maharashtrain'], dtype=object)

In [43]:
foods['Cuisine'].value_counts()

Maharashtrian    2
Punjabi          2
South Indian     2
Maharashtrain    1
Rajasthani       1
maharashtrain    1
Chinese          1
gujrati          1
Bengali          1
M.P              1
North Indian     1
North-east       1
Name: Cuisine, dtype: int64

## 1.Costliest Food

In [44]:
foods[['Food Name','Price','City','Color','Cuisine','Taste']][foods['Price']==foods['Price'].max()]

     Food Name  Price    City   Color       Cuisine  Taste
14  Mysore Pak    300  Mysore  yellow  South Indian  Sweet

## 2.Cheapest Spicy Food

In [45]:
foods[['Food Name','Price','City','Color','Cuisine','Taste']][(foods['Taste']=='Spicy') & (foods['Price'] == foods['Price'][foods['Taste']=='Spicy'].min())]

  Food Name  Price    City   Color        Cuisine  Taste
7  Vada Pav     20  Mumbai  yellow  Maharashtrain  Spicy

## 3.Most Popular Cuisine

In [46]:
m=foods['Cuisine'].value_counts()
m

Maharashtrian    2
Punjabi          2
South Indian     2
Maharashtrain    1
Rajasthani       1
maharashtrain    1
Chinese          1
gujrati          1
Bengali          1
M.P              1
North Indian     1
North-east       1
Name: Cuisine, dtype: int64

In [33]:
foods['Cuisine'][foods['Cuisine'].value_counts().max()]

'South Indian'

## 4.Count of Different tastes

In [47]:
foods['Taste'].value_counts()

Spicy              7
Sweet              2
spicy              2
sweet              1
Sweet and sour     1
sweet and spicy    1
Crunchy            1
Name: Taste, dtype: int64

## 5.Foods which is available in Pune and is Spicy

In [49]:
foods

,Food Name,Price,City,Color,Cuisine,Taste
0,Misal,80,Pune,red,Maharashtrian,spicy
1,Dhokla,30,Vadodra,yellow,gujrati,sweet and spicy
2,Masala Dosa,70,Chennai,brown,South Indian,spicy
3,Rosogulla,120,Calcutta,white,Bengali,sweet
4,Chole Bhature,100,Delhi,yellow,North Indian,Spicy
5,Bharit Bhakri,90,Jalgaon,Grey and red,Maharashtrian,Spicy
6,Namkeen,150,Indore,Orange,M.P,Spicy
7,Vada Pav,20,Mumbai,yellow,Maharashtrain,Spicy
8,lassi,50,Amritsar,white,Punjabi,Sweet and sour
9,Momos,150,Shillong,White,North-east,Spicy
10,Noodles,130,Jaipur,Yellow,Chinese,Spicy
11,Ghevar,200,Udaipur,brown,Rajasthani,Sweet
12,Bakarvadi,70,Pune,brown,maharashtrain,Crunchy
13,Aloo Paratha,40,Ambala,Brownish,Punjabi,Spicy
14,Mysore Pak,300,Mysore,yellow,South Indian,Sweet

In [52]:
foods['Food Name'][(foods['City']=='Pune') & (foods['Taste']== 'spicy')]

0    Misal
Name: Food Name, dtype: object

## 6.list of south indian cuisine

In [53]:
foods[foods['Cuisine'] == 'South Indian']

      Food Name  Price     City   Color       Cuisine  Taste
2   Masala Dosa     70  Chennai   brown  South Indian  spicy
14   Mysore Pak    300   Mysore  yellow  South Indian  Sweet